/******** link Browse fonts Google  ****************/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');
:root{
    --text-color:hsl(0, 10%, 14%);
} 
html{
    box-sizing: border-box;
    font-size: 10px;
}
*{
    box-sizing: inherit;
}
/******** Utilities *****/
.flex{
    display:flex;
}
.container{
    width:80%;
    max-width:1200px;
    margin-right:auto;
    margin-left:auto;
}

/*************************/

/********* icon styles ***********/
.bx{
    font-size:3rem;
    color:var(--icon-color,hsl(0, 0%, 0%));
    cursor:pointer;
}
.bx-cart{
    --icon-color:hsl(7, 65%, 45%);
}
.bxs-heart{
    --icon-color:hsl(0, 100%, 50%);
}

/********* body **********/
body{
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}
/********* header *************/
.header{
    background-color:hsl(0, 0%, 20%);
    justify-content: center;
    align-items: center;
    padding:1em;
}
.logo{
    border:2px solid rgba(231, 230, 240, 0.7);
    border-radius:50%;
    line-height:1.2;
}
.header__logo{
    padding:.5em;
    margin-right:1rem;
}
.logo__link{
    text-decoration: none;
}
.header__title{
    font-size:2.4rem;
    text-transform: uppercase;
    font-weight: 900;
}
/*****************/

/******navbar ********/
.nav{
    min-width:320px;
    padding-top:1em;
    justify-content: space-around;
    font-size: 1.8rem;
}
.nav__inner{
    display:none;
}
.nav__link{
    text-decoration:none;
    color: var(--text-color);
    cursor:pointer;
}
.menu{
    position:absolute;
    left:1rem;
}
.nav__content{
    justify-content:flex-end;
}
.nav__finder{ 
    align-items: center;
    position:relative;
}
.nav__label{
    position:absolute;
    right:1rem;
}
.nav__input{
    border-radius: 5px;
    padding:.8rem;
    visibility: hidden;
}
.nav__icons{
    justify-content: space-around;
    gap:.8rem;
}

/**********************************/
